.logo {
  width: 25%;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
}

.header h1 {
  justify-content: center;
  padding-left: 25%;
}

.questions {
  display: flex;
  justify-content: center;
}
